body{
    
}
.banner-container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.banner{
    height: 125px;
    width: 750px;
    
    box-shadow: inset 1.2rem 1.2rem 1rem rgba(0, 0, 0, .5), inset -1.2rem -1.2rem 1rem rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    text-align: justify;
    text-align-last: center;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    font-style: italic;
    margin: 10px;
}

.banner.one{    
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.banner.two{
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}
.banner.three{
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);    
    text-align: center; 
}
.banner.four{
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
    color: #000;
}

.banner.five{    
    background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
}

.banner.six{
    text-align: center;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}